<nav class="navbar navbar-light px-5 primary-bg1 navbar-expand-md">
      <a class="navbar-brand" href="#">
        <%= link_to root_path, class:"logo" do %>
          <%= image_tag "bky_lighting_logo.svg" %>
        <% end %>
      </a>
      <button class="navbar-toggler d-md-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav px-5">
          <li class="nav-item">
            <%= link_to 'Products', products_path, class:"navbar-link" %>
          </li>
          <% if user_signed_in? %>
            <li class="nav-item">Welcome:<strong><%= current_user.email %></strong>.</li>
            <li class="nav-item">
              <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %>
            <li>
            <li class="nav-item">
              <%= link_to 'Logout', destroy_user_session_path, method: :delete, :class => 'navbar-link' %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to 'Sign up', new_user_registration_path, :class => 'navbar-link' %>
            </li>
            <li class="nav-item">  
              <%= link_to 'Login', new_user_session_path, :class => 'navbar-link' %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>